body {
    margin: 0;
}

.main {
    position: relative;
    width: 100%;
    z-index: 1;

    &.active {
        position: fixed;
    }
}

.header {
    padding: 20px 40px 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    @media (min-width: 767px) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 980px;
    }

    &__title {
        margin: 0;
    }

    &__cart-icon {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__cart-count {
        position: absolute;
        top: 0px;
        right: -15px;
    }
}

.products {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0 auto;
    
    @media (min-width: 767px) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 980px;
    }
}

.product-card {
    width: 100%;
    margin-bottom: 60px;

    @media (min-width: 767px) {
        width: 33.3333%;
        margin-bottom: 0px;
    }

    &__image {
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 250px;
        object-fit: contain;
    }

    &__title {
        margin: 40px 0 0;
    }

    &__button {
        font-size: 14px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 10px 35px;
        border-radius: 4px;
        border-width: 2px;
        border-color: #333;
        text-align: center;
        border-style: solid;
        max-width: max-content;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }
}